--- 
# These tasks install http and the php modules. 

 - set_fact:
     http_port: 80
     max_clients: 200                            

 # this was using yum: before but travis install didnt have yum
 # had to fix php to php5 and php-mysql to php5-mysql
 # and libsemanage-python and libselinux-python to python-all-dev
 # and httpd to apache2
 - name: Install http and php etc 
   apt: name={{ item }} state=present 
   with_items: 
    - apache2 
    - php5 
    - php5-mysql 
    - git 
    - python-all-dev 
    - libapache2-mod-php5 
    - php5-cli 
    - php5-common 
    - php5-curl 
    - php5-dev 
    - php5-gd 
    - php5-gmp 
    - php5-mcrypt 
    - php5-memcache 
    - php5-xsl 
    - php-apc 
    - php-pear 

 - name: Enable apache2 modules 
   command: a2enmod {{ item }} 
   with_items: "{{lamp.apache.modules}}"
   notify: restart apache2 

#taking this out for now.  this was when we installed via httpd. 
#not sure what it needs to be yet for when doing apache2
# - name: write the apache config file                                                                                      
 #  template: src=httpd.j2 dest=/etc/httpd/conf/httpd.conf                                           
  # notify:                                                                                                                 
   # - restart apache                                                                                                        

#installing apache now so taking this out
# - name: http service state 
 #  service: name=httpd state=started enabled=yes 
