 <html> 
  <head> 
   <title>Ansible Application</title> 
  </head> 
  <body> 
ansible roles test on box {{ ansible_default_ipv4.address }}
   <a href=http://{{ ansible_default_ipv4.address }}/index.html>Homepage</a> 
<a href=page2.htm>Page 2</a>
</body>
</html>
